# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# Linting
.pylint.d/
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.example
.env.test

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#documentation
documentation
