name: Services CI/CD

on:
  push:
  pull_request:
    branches: ["main"]

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      example-service: ${{ steps.filter.outputs.example-service }}
    steps:
      - uses: actions/checkout@v4
      - name: Filter changed services
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            example-service:
              - 'services/example-service/**'

  build-example-service:
    needs: filter
    if: ${{ needs.filter.outputs.example-service == 'true' }}
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/build-service.yml
    with:
      service_name: example-service
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
